.project_container{
padding: 0% 5% 5% 5%;
background-color: white;
}
.project_container p{
    text-align: left;
    padding: 0% 5%;
    
   
}
.project_container>div{
    border: 1px solid black;
    background-color: black;
    text-decoration: underline;
    color: white;
    padding: 2% 0%;
    border-radius: 12px;
    
}
.project_container h2{
    font-size: 28px;
    background-color: white;
    color: white;
    margin-top: 0%;
    background-color: rgb(46, 44, 44);
    text-decoration: underline;
   
}
.project_container h3{
 font-size: 24px;
 color: white;
 text-decoration: underline;
}