.Navbar_parent{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: 1px solid;
    position: sticky;
    top: 0%;
    background-color: black;
    /* background-image: url(https://cutewallpaper.org/21/gif-background-windows-7/AE-Plexus-1080i-Animated-Wallpaper-for-Windows,-gif-.gif);
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
   
}

.Navbar_parent h1,h4{
    position: relative;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;

}
@keyframes animate{
    0%, 18%, 20%, 50.1%, 1%, 60%, 60.1%, 1%, 80%, 90%, 1%, 92%{
        color: #0e3742;
        text-shadow: none;
    } 
    18.1%, 20.1%, 30%, 50%, 60%, 1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4
    }
}
.Navbar_parent h4{
 text-align: center;
}